*.iml
.gradle/
.kotlin/
/local.properties
.idea/*
!.idea/dictionaries/
!.idea/dictionaries/**
.DS_Store
build/
/captures/
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.externalNativeBuild/
.cxx/
*.keystore
*.jks
!debug.keystore
keystore.properties
# Android Studio inspection exports
/index.html
/script.js
/styles.css
/styles.xml
/.descriptions.xml
/descriptions/
/AndroidLint*.xml
/UnstableApiUsage.xml
/LatestMinorVersion.xml
/SpellCheckingInspection.xml
